*{
    margin: 0;
    padding: 0;
  
  
}
.body{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;

}
@media (max-width: 800px) {
    .body{
        display: flex;
        
    }
}
section{
    animation: 2s in ease forwards;
}
.top-alt{

  z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: linear-gradient(rgb(38, 38, 83),blue, rgb(36, 36, 83));
}
.top-alt span{
    font-size: 20px;
    font-family: monospace;
    color: white;
    padding: 5px;
    cursor: pointer;
    border: 1px solid white;
}
.simple{
    display: flex;
}
.standard select{
   padding: 4px;
   outline: none;
    color: black;
    position: relative;
}
.standard select option{
   position: relative;
}
.trigon{
   
    background: rgb(29, 93, 136);
    color: white;
}
.trigon1{
   background:  black;
}
.basics{
    background: rgb(252, 251, 251);
    box-shadow: 1px 2px 16px 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    border: 1px solid;
    width: 400px;
    padding: 10px;
}
.basics input{
    width: 350px;
    font-family: 'Digital-7', monospace;
    margin-top: 20px;
   outline: none;
    background: linear-gradient(rgb(131, 129, 129), white, white, white, white, rgb(151, 149, 149));
}
.basic-btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.basic-btns button{
    margin-top: 20px;
}

@keyframes in {
    0%{
        opacity: 0;
        transform: translateY(-500px);
        background: white;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        
    }
}

.calculator{
  padding: 10px;
 max-width: 600px;
    height: 810px;
    align-items: center;
    background: rgb(37, 9, 9);
    justify-content: space-between;
   display: flex;
   flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
   box-shadow: 5px 10px 105px  rgb(4, 234, 115)
   
 
    
}
.screen{
    background: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 140px;
   border-radius: 10px;
}
.buttons{
    place-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 26px;
    grid-gap: 6px;
    width: 500px;
    height: 550px;
}
button{
    font-size: 24px;
   width: 90px;
   height: 40px;
    
}

.screen input{

    font-family: Digital-7, monospace;
      width: 400px;
      height: 60px;
      align-items: center;
      justify-content: center;
    width: 90%;
    background: rgb(57, 88, 63);
    color: rgb(252, 251, 251);
    font-size: 40px;
    box-shadow: 0 0 5px rgb(4, 247, 118), inset;
    outline: none;
 
}
.clear, .trig{

    padding: 5px;
    border-radius: 10px;
    background: rgb(73, 68, 68);
    color: azure;
    font-weight: 700;
    
}
.operator{
     font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    background: rgb(105, 112, 179);
    color: white;
}
.clear{

    padding: 5px;
    border-radius: 10px;
    background: rgb(19, 5, 5);
    color: rgb(250, 6, 46);
    font-weight: 700;
    
}
.trig{

    padding: 5px;
    border-radius: 10px;
    background: rgba(177, 15, 15, 0.096);
    color: rgb(244, 253, 253);
    font-weight: 700;
    
}
.equal{
    color: rgb(249, 253, 249);
    background: blue;
    border-radius: 10px;
}


.casio{
   font-family: sans-serif;
   color: white;
   text-align: center;
}
button:hover{
background: rgb(172, 167, 167);
color: black;
}
span{
    font-size: 10px;
    border: 1px solid rgb(77, 70, 70);
    font-family: sans-serif;
}
.pow{
    background: rgb(107, 97, 97);
    color: white;
    border-radius: 9px;
}
.logs{
    background: rgb(57, 54, 71);
    color: blanchedalmond;
    border-radius: 9px;
}
.num{
    padding: 3px;
    color: rgb(231, 230, 236);
    border-radius: 9px;
    background: rgb(54, 65, 54);
}
.car{
    padding: 3px;
    color: rgb(248, 247, 252);
    border-radius: 9px;
    background: rgb(11, 1, 24);
}
.butt{
    width: 50px;
    margin-right: 0;
    padding: 2px;
    display: flex;
    background: rgb(2, 252, 2);

}

.top{
 
    left: 2%;
    top: 30px;
    padding: 10px;
    border: 1px solid;
   justify-content: space-evenly;
    gap: 20px;
    display: flex;
   


}
.top a{
    width: 200px;
    background: rgb(3, 40, 244);
    text-decoration: none;
    padding: 20px;
    color: antiquewhite;
    cursor: pointer;
    font-size: max(1.6vw, 22px);
}
.top a:hover{
    text-decoration: underline;
}
.converter{

    width: 30%;
    height: 100vh;
    right: 5%;
    top: 5%;
    bottom: 5%;
}
.conv{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.conv button{
    width: 150px;
    padding: 10px;
    color: aliceblue;
    background: rgb(2, 87, 118);
    font-size: 24px;
}
.option{
    position: fixed;
    border: 1px solid;
    width: 20%;
    height: 100vh;
    left: 5%;
    top: 5%;
}
option{
    font-size: 20px;
}
.converter-box{
 padding: 20px;
    background: rgb(14, 13, 13);
    display: flex;
    color: azure;
    flex-direction: column;
    top: 100px;
}
.converter-box h2{

    font-size: 40px;
    margin: 30px;
}
select, input{
    padding: 20px;
    font-size: 22px;
    margin: 10px;
}
.converter-box h3{
  
    padding: 20px;
    font-size: 25px;
    border: 3px solid;
    margin: 10px;
}
.converter-box span{
    font-size: 40px;
    padding: 10px;
    border: none;
}
.converter-box button{
    background: green;
    color: antiquewhite;
    padding: 30px;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    align-items: center;
    width: 30%;
    place-self: center;
}
.converter-box button:hover{
    background: rgb(12, 173, 12);
   
}
.temp{
    animation: 3s out ease forwards;
    position: fixed;
    border: 1px solid;
    width: 30%;
    height: 100vh;
    right: 5%;
    top: 5%;
    bottom: 5%;
}
@keyframes out {
    0%{
      opacity: 0;
    }
    100%{
        opacity: 1;
    }
}